<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>
    <div class="create-post content">

        <h1>Admin Console</h1>

        <a href="">New Post</a>
        <a href="">Edit Posts</a>
        <a href="">File Upload</a>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>