<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>
    <div class="create-post content">

        <h1>Admin Console</h1>

        <ul>
            <li><a href="/admin/create">New Post</a></li>
            <li><a href="">Edit Posts</a></li>
            <li><a href="">File Upload</a></li>
        </ul>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>