<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>
    <div class="create-post content">

        <h1>Admin Console</h1>

        <ul>
            <li><a href="/admin/create">New Post</a></li>
            <li><a href="/admin/edit-posts-list">Edit Posts</a></li>
            <li><a href="/admin/upload">File Upload</a></li>
            <li><a href="/admin/subscribers-list">Subscribers List</a></li>
        </ul>

        <form action="/admin/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>

    </div>
</body>
</html>