<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>
    <div class="create-post content">

        <h1>Edit Posts</h1>

        <p>TODO: Populate this page with a list of all of the posts in the database.</p>

        <ul>
            <li>Should list each post's title.</li>
            <li>Each post title should be hyperlinked.</li>
            <li>Each post should have a trashcan icon next to it.</li>
            <li>The hyperlinked post titles should link to the edit page for the corresponding post.</li>
        </ul>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>