<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>
    <div class="create-post content">

        <h1>Edit Posts</h1>

        <p>TODO: Populate this page with a list of all of the posts in the database.</p>

    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>