<html lang="en">
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav-bar.ejs') %>
        <div class="class_login">

            <!-- TODO: Add a large GRB logo above or to the left of the login box. Just to make this page look a bit nicer. -->

            <h1>Admin Login</h1>



        <%- include('../partials/footer.ejs') %>
    </body>
</html>