<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <h1>Subscribers List</h1>

    <div class="class_subscribersList">

        <%- subscribersHtml %>

    </div>

</body>
</html>