<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/GRB-favicon.png" type="image/png">
    <!-- the 'title' tag is setting the text you see in the browser tab of the browser window. -->
    <title><%= title %></title>
</head>