<form action="/posts/upload-image" enctype="multipart/form-data" method="post">

    <label for="id_uploadImage">Upload Image:</label>
    <input type="file" name="uploadImage" id="id_uploadImage" multiple>
    <input type="submit" value="Upload">

</form>