<form action="/posts/upload-image" enctype="multipart/form-data" method="post">

    <div>
        <label for="id_uploadImage">Upload Image:</label>
        <input type="file" multiple="multiple" name="uploadImage" id="id_uploadImage"/>
        <input type="submit" value="Upload" />
    </div>

</form>