<nav>
    <div class="class_navBar_SiteTitle">
        <!-- TODO: Replace the text site title with an image with our logo and site title in the image. -->
        <!-- <a id="id_navBar_StiteTitleHyperlink" href="/"><h1 id="id_navBar_SiteTitle">Golden Ramen Bowl</h1></a> -->
        <a id="id_navBar_StiteTitleHyperlink" href="/"><img class="class_navBar_SiteLogo" src="/site-logo.png" width="60%"></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <li><a href="/admin/console">Admin</a></li> <!-- TODO: Remove this link to the admin page. -->
    </ul>
</nav>