<p>We don't post that often. But you can get notified about new posts by signing up below.</p>
<form action="/add-subscriber" method="POST">
    <label for="id_subscriberName">Name:</label>
    <input type="text" id="id_subscriberName" name="name" required>

    <label for="id_subscriberEmail">Email:</label>
    <input type="text" id="id_subscriberEmail" name="email" required>

    <button>Subscribe!</button>
</form>