<p>Enter your email below to unsubscribe.</p>
<form action="/remove-subscriber" method="POST">

    <label for="id_subscriberEmail">Email:</label>
    <input type="text" id="id_subscriberEmail" name="email" required>

    <button>Unsubscribe</button>
</form>