<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav-bar.ejs') %>
        <div class="not-found content">
            <h2>Oops, page not found.</h2>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>