<html lang="en">
<%- include('./partials/header.ejs')  %> 
<body>
    <%- include('./partials/nav-bar.ejs') %> 

    <div class="class_sideBar"><%- include('./partials/sidebar.ejs') %></div>

    <div class="class_notFound">
        <h2>Oops, page not found.</h2>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>