<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav-bar.ejs') %>
        <div class="class_aboutUs_AboutContent class_BasicPageMargins">

            <h2>About Us</h2>

            <p>Welcome to the Golden Ramen Bowl blog!</p>
            
            
            <p>We’re Chris & Vista. Two Computer Science students with a love for travel and the great outdoors. After walking 10 miles a day on our honeymoon in Japan and biking the 38-mile Sella Ronda in the Dolomites a month later, we’re itching for our next adventure.</p>
            
            <p>We love exploring new places and meeting new and interesting people along the way. While most of our travel has been the traditional explore a city and its sights style, we fell in love with the hiking and biking we’ve done in far off places and have recently started backpacking to reach even more exciting and wonderful destinations. We hope to one day to complete the Traumpfad and the Wonderland Trail along with any other amazing trips we can find.</p>
            
            <p>I, Chris, personally enjoy writing about our trips and will be posting about them here on this blog. Hopefully ya’ll will enjoy reading about our trips and will be inspired to get out there and explore this wonderful world for yourselves!</p>
            
            <p>If you’ve got questions or want to get in contact with us, hop on over to our contact us page.</p>

        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>