<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %> 

    <div class="class_aboutUs">
        <h3>About us.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia explicabo laudantium odio atque nulla hic? Adipisci ipsum atque molestiae, saepe, temporibus dolorem deserunt animi nemo, velit eius repellendus! Omnis, minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut possimus vitae, alias nihil nesciunt nemo? Aperiam, voluptatum animi? Labore, soluta. Placeat deleniti cumque velit assumenda similique labore possimus. Perspiciatis, maxime.</p>
    </div>
</body>
</html>