<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav-bar.ejs') %>

    <div class="class_contactUs_ContactContent class_BasicPageMargins">
        <h1>Contact Us</h1>
        
        <div>
            <%- include('./partials/newsletter-signup.ejs') %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>