<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav-bar.ejs') %>

    <h1>Contact Us</h1>
    
    <div>
        <%- include('./partials/newsletter-signup.ejs') %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>