<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<html lang="en">
    <body>
        <%- include('./partials/nav-bar.ejs') %> 

        <h3>Welcome to goldenramenbowl.com!</h3>

        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, amet non! Laudantium, quam maiores placeat accusamus est quo molestias architecto totam odit laboriosam neque itaque, dolore delectus saepe provident impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat veritatis, inventore ea cupiditate corrupti? Perferendis, obcaecati cum voluptatum deleniti tempore iure quod suscipit maiores deserunt ad adipisci, voluptas autem.</P>
    </body>
</html>