<html lang="en">
<!-- This adds the header -->
<%- include('./partials/header.ejs') %> 
<body>
    <!-- This adds the navigation bar -->
    <%- include('./partials/nav-bar.ejs') %> 

    <!-- This adds the sidebar -->
    <div class="class_sideBar"><%- include('./partials/sidebar.ejs') %></div>

    <h3>Welcome to goldenramenbowl.com!</h3>

    <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, amet non! Laudantium, quam maiores placeat accusamus est quo molestias architecto totam odit laboriosam neque itaque, dolore delectus saepe provident impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat veritatis, inventore ea cupiditate corrupti? Perferendis, obcaecati cum voluptatum deleniti tempore iure quod suscipit maiores deserunt ad adipisci, voluptas autem.
    </P>
    
    <!-- This adds the footer -->
    <%- include('./partials/footer.ejs') %> 
</body>
</html>