<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<html lang="en">
    <body>
        <p>Welcome to goldenramenbowl.com!</p>

        <br><br>

        <p>This is a git proof of concept test.</p>
    </body>
</html>