/*************************
 * HOMEPAGE (index.html) *
 *************************/

/* PAGINATED POSTS */
/* TODO: Consider putting each post in a card w/ shadow behind it. */

.class_postPreview_Hyperlink {
    text-decoration: none;
}
.class_postPreview_Snippet {
    color: black;
}
.class_postPreview_Title {
    color: black;
}
.class_postPreview_Title:hover {
    color: #BD9000;
}
.class_postPreview_Image {
    border-radius: 1%;
    box-shadow: #80808070 2px 2px;
}
.class_postPreview_Image:hover {
    opacity: 0.8;
}
.class_postPreview_MoreLink {
    text-decoration: none;
    color: black;
}
.class_postPreview_MoreLink:hover {
    color: #BD9000;
}

/************
 * PARTIALS *
 ************/

/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li {
    list-style-type: none;
    margin-left: 20px;
}
nav h1 {
    font-size: 3em;
}
nav p, nav a {
    color: #777;
    font-weight: 300;
}
#id_navBar_Hyperlink {
    text-decoration: none;
}
#id_navBar_SiteTitle {
    color: #BD9000;
    font-size: 32px;
}

/********************************
 * Unsure TODO: Organise these. *
 ********************************/

.class_btn_delete:hover {
    color: red;
    cursor: pointer;
}