/*************************
 * HOMEPAGE (index.html) *
 *************************/

/* PAGINATED POSTS */
/* TODO: Consider putting each post in a card w/ shadow behind it. */

.class_homepage_PostContent {
    width: 50%;
    /* position: absolute; */
    left: 25%;
    /* margin-left: 100px; */
    /* max-width: 700px; */
}
.class_postPreview_Hyperlink {
    text-decoration: none;
}
.class_postPreview_Snippet {
    color: black;
}
.class_postPreview_Title {
    /* TODO: Set the font for the entire site globally, then set any font that is different individually. Instead of setting the font for each element. They are all the same font! */
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 2em;
}
.class_postPreview_Title:hover {
    color: #BD9000;
}
.class_postPreview_Image {
    /* border-radius: 1%; */
    /* box-shadow: #80808070 2px 2px; */
    /* width: 50%; */
}
.class_postPreview_Image:hover {
    opacity: 0.8;
}
.class_postPreview_MoreLink {
    text-decoration: none;
    color: black;
}
.class_postPreview_MoreLink:hover {
    color: #BD9000;
}

/************
 * PARTIALS *
 ************/

/* NAV BAR */

nav {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
}
nav li {
    text-decoration: none;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    list-style-type: none;
    margin-left: 20px;
}
nav h1 {
    font-size: 2em;
}
nav p, nav a {
    text-decoration: none;
    color: rgb(81, 81, 81);
    /* font-weight: 300; */
}
#id_navBar_StiteTitleHyperlink {
    text-decoration: none;
}
#id_navBar_SiteTitle {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    color: #BD9000;
    /* font-size: 32px; */
}

/********************************
 * Unsure TODO: Organise these. *
 ********************************/

 .class_footer {

 }

/********************************
 * Unsure TODO: Organise these. *
 ********************************/

.class_btn_delete:hover {
    color: red;
    cursor: pointer;
}