<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <h1>Success</h1>
    
    <div>
        <p>You have been subscribed!</p>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>