<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <h1>Uh oh!</h1>
    
    <div>
        <p>That doesn't appear to have worked.</p>
        <p>Subscribe <a href="/contact-us">here</a></p>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>