<html lang="en">
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <h1>Uh oh!</h1>
    
    <div>
        <p>Something went wrong. Try that again.</p>
        <p>Unsubscribe <a href="/unsubscribe">here</a></p>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>