<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav-bar.ejs') %>
        <div class="create-post content">
            <!-- The attributes labeled "name" below can be used to access those fields in other files -->
            <!-- The action attribute causes the Submit buttion to send a POST request to the specified URL. However, we have to handle this on the server side with an app.post function. -->
            <form action="/posts" method="POST">
                <!-- For the <select> tags, when the form is submitted, the selected option is added to the body of the post request with the label in the "name" attribute in the <select> tag. The label must match the corresponding label in the post.js Schema exactly for the data to be stored in the post object and eventually make it to the database. -->
                <select name="postStatus" id="id_postStatus" required>
                    <option value="draft">Draft</option>
                    <option value="published">Published</option>
                </select>
                <select name="author" id="id_authorSelect" requried>
                    <option value="Golden Ramen Bowl">Golden Ramen Bowl</option>
                    <option value="Vista">Vista</option>
                    <option value="Chris">Chris</option>
                </select>
                <!-- TODO: Make the featured image field a selection dropdown that lists all of the image files that have been uploaded (that are currently in the 'images' file) -->
                <label for="id_featuredImage">Featured image:</label>
                <input type="text" id="id_featuredImage" name="featuredImage" required>
                <label for="id_title">Post title:</label>
                <input type="text" id="id_title" name="title" required>
                <label for="id_snippet">Post snippet:</label>
                <input type="text" id="id_snippet" name="snippet" required>
                <label for="id_body">Post body:</label>
                <textarea id="id_body" name="body" required></textarea>
                <!-- When this button is clicked, it fires an event. That event bubbles through parent elements and triggers any event listeners on those elements. In this case, the event listener on the <form> tag. -->
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>