<!-- The HTML files used wiht hte EJS package manager have the extension .ejs -->
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/nav-bar.ejs') %>
        <div class="create-post content">
            <h1>Edit Post</h1>
            <%- include('../partials/create-edit-form.ejs') %> 
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>